body {
  background-color: rgb(255, 20, 208);
}

.app {
  min-height: 80vh;
  background-color: azure;
  width: 400px;
  margin: 20px auto;
  border-radius: 15px;
}

.container {
  display: flex;
  justify-content: center;
}

img {
  border-radius: 15px;
  border: 2px solid rgb(255, 20, 208);
  margin-top: 15px;
}

h1 {
  color: rgb(255, 20, 208);
  text-shadow: 3px 5px 6px blue;
  font-family: 'Poppins', sans-serif;
}

input {
  width: 300px;
  font-family: 'Poppins', sans-serif;
  padding: 8px;
  margin: 10px;
  border-radius: 7px;
  border: 2px solid rgb(255, 20, 208);
  color: rgb(20, 39, 255);
}

.crossed {
  text-decoration: line-through 2px rgb(204, 20, 255);
  background-color: #f0f0f0;
}

ul, li {
  list-style-type: none;
  padding: 7px;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: rgb(20, 39, 255);
}

.btn {
  padding: 8px;
  border: none;
  width: 70%;
  color: white;
  text-shadow: 3px 5px 6px blue;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  border-radius: 7px;
}

.add {
  background-color: #6ECCAF;
  margin-top: 8px;
}

.delete {
  background-color: #EA047E;
  margin-bottom: 8px;
}

.imageTwo {
  border-radius: 10px;
  border: 2px solid rgb(20, 39, 255);
  margin-bottom: 0;
}
